/* This is css code for the navbar */
body {
  margin-top: 0px; /* removes gap between nav and top of page*/
  background-image: url("./spidermancomic.jpg");
  background-size: 1600px 800px;
  background-repeat: no-repeat;
  background-position: center top 60px;
}

.logo {
  color: #fff;
}

nav {
  text-align: center;
  position: fixed;
  height: 80px;
  width: 100%;
  text-decoration: none;
  /* background-image: url("./web.jpg"); */
  background-color: rgb(226, 9, 46);
  background-blend-mode: lighten;
  background-size: contain;
  /* background-color: blue; */
}

a {
  text-decoration: none;
  color: rgb(2, 4, 20);
  padding-right: 40px;
  font-weight: bold;
  font-size: 2em;
  font-family: "THE AMAZING SPIDER-MAN", sans-serif;
}

li {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  margin: 0px;
}

li :hover {
  color: yellow;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 30%;
}

/* CSS code for the h2 section of the homepage */
.storyheader {
  display: block;
  width: 300px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: italic;
  font-size: 1.8em;
  text-align: center;
  padding-top: 100px;
  color: black;
  background-color: yellow;
}
/* CSS code for the spiderman cursor */
/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/toons/too-7/too682.cur), auto !important;
} /* End https://www.cursors-4u.com */
