body {
  margin-top: 0px; /* removes gap between nav and top of page*/
  background-image: url("./spidermancomic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* This is css code for the navbar */
.logo {
  color: rgb(0, 57, 95);
  font-weight: bolder;
}

nav {
  text-align: center;
  position: fixed;
  height: 80px;
  width: 100%;
  text-decoration: none;
  background-image: url("/web.jpg");
  background-blend-mode: lighten;
  background-size: contain;
}

a {
  text-decoration: none;
  color: rgb(2, 4, 20);
  padding-right: 40px;
  font-weight: bold;
  font-size: 2em;
  font-family: "THE AMAZING SPIDER-MAN", sans-serif;
}

li {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  margin: 0px;
}

li :hover {
  color: rgb(21, 195, 226);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 30%;
}

/* CSS code for the h1 section of the homepage */
.homepageheader {
  display: block;
  width: 200px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.8em;
  text-align: center;
  padding-top: 100px;
  color: rgb(0, 153, 255);
  background-color: black;
}
/* CSS code for the spiderman cursor */
/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/toons/too-7/too682.cur), auto !important;
} /* End https://www.cursors-4u.com */
