@font-face {
  font-family: "THE AMAZING SPIDER-MAN";
  font-style: normal;
  font-weight: 400;
  src: local("THE AMAZING SPIDER-MAN"),
    url("https://fonts.cdnfonts.com/s/29613/The Amazing Spider-Man.woff")
      format("woff");
}

body {
  margin-top: 0px; /* removes gap between nav and top of page*/
  /* background-image: url("/img/spidermanswing.jfif"); */
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  text-align: center;
  position: fixed;
  height: 80px;
  width: 100%;
  text-decoration: none;
  background-image: url("../../spiderman-app/src/images/img/web.jpg");
  background-blend-mode: lighten;
  background-size: contain;
}

a {
  text-decoration: none;
  color: rgb(25, 47, 209);
  padding-right: 40px;
  font-weight: bold;
  font-size: 2em;
  font-family: "THE AMAZING SPIDER-MAN", sans-serif;
}

li {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  margin: 0px;
}

li :hover {
  color: rgb(21, 195, 226);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 30%;
}

.navbar-nav {
  /* background-image: url("../../spiderman-app/src/images/img/web.jpg"); */
  background-blend-mode: lighten;
  background-size: contain;
}

.navbar-brand-md {
  color: rgb(25, 47, 209);
  filter: brightness(300%);
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

.navbar-brand-md:hover {
  color: rgb(21, 195, 226);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 30%;
}
/* For mobile hamburger menu */
button.navbar-toggler {
  background-image: url("../../spiderman-app/src/images/img/burgericon.jpg");
  background-size: cover;
  opacity: 0.5;
}

.navbar-toggler:focus {
  background-image: url("../../spiderman-app/src/images/img/burger_x_icon.jpg");
  background-size: cover;
  height: 100%;
}

li.nav-item {
  z-index: 9999;
  background-image: url("../../spiderman-app/src/images/img/web.jpg");
  background-size: contain;
}

a.nav-link:hover {
  color: rgb(21, 195, 226);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 30%;
}

/* For the image and gif on homepage */
.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

/* For organizing comics on bottom of homepage 
and adding hover effect when hovered over */

.web:hover {
  color: blue;
}

.container {
  display: flex;
}

/* CSS code for the spiderman cursor */
/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/toons/too-7/too682.cur), auto !important;
} /* End https://www.cursors-4u.com */
